* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 2000px;
}
header {
  width: 100%;
  height: 100px;
  text-align: center;
}
main {
  width: 100%;
  height: 2000px;
  text-align: center;
}
section {
  width: 100%;
  height: 400px;
}
header {
  padding-top: 20px;
  text-shadow: 2px 2px 4px red;
}
.acerca {
  background-image: url("../imgs/img1.jpg");
  background-size: 100%;
  color: black;
  padding-top: 80px;
  text-shadow: 2px 2px 4px white;
}
.datos {
  background-image: url("../imgs/img2.jpg");
  background-size: 100%;
  color: black;
  padding-top: 40px;
  text-shadow: 2px 2px 4px white;
}
.idiomas {
  background-image: url("../imgs/img3.jpg");
  background-size: 100%;
  color: black;
  padding-top: 120px;
  text-shadow: 2px 2px 4px white;
}
.certificaciones {
  background-image: url("../imgs/img4.jpg");
  background-size: 100%;
  color: black;
  padding-top: 50px;
  text-shadow: 2px 2px 4px white;
}
.software {
  background-image: url("../imgs/img5.jpg");
  background-size: 100%;
  color: black;
  padding-top: 50px;
  text-shadow: 2px 2px 4px white;
}
.estudios {
  background-image: url("../imgs/img6.jpg");
  background-size: 100%;
  color: black;
  padding-top: 100px;
  text-shadow: 2px 2px 4px white;
}
p {
  font-size: larger;
}
